{%
    set classes = ['layout','layout--fourcol',]
%}

{% if content %}
    <div {{ attributes.addClass(classes) }}>
        {% if content.first %}
            <div class="layout__region layout__region--first">
                {{ content.first }}
            </div>
        {% endif %}

        {% if content.second %}
            <div class="layout__region layout__region--second">
                {{ content.second }}
            </div>
        {% endif %}

        {% if content.third %}
            <div class="layout__region layout__region--third">
                {{ content.third }}
            </div>
        {% endif %}

        {% if content.fourth %}
            <div class="layout__region layout__region--fourth">
                {{ content.fourth }}
            </div>
        {% endif %}
    </div>
{% endif %}